# Ignorar todo

*

# Aceptar lo que se necesite (en orden)

!index.min.js
!index.js
!.editorconfig
!.gitignore
!LICENSE
!package.json
!README.md
!test.js
!yarn.lock

# Aunque estén en subdirectorios
!*/
